.DS_Store
Fiche+d'auto-évaluation+_P12+(1).pdf.download/Fiche+d'auto-évaluation+_P12+(1).pdf
notebooks/acp_save.ipynb
oncfm-detection-faux-billets.code-workspace
gfx/billet.afdesign
Fiche+d'auto-évaluation+_P12+(1).pdf
gfx/modeles_diagramme.afdesign
gfx/billet_euro.jpeg
oncfm-presentation.key
data/billet_test.csv
